/* button main */
.button .button-icon {
  width: 3rem;
  transition: width 0.3s ease-in-out;
}

.button:hover .button-icon {
  width: 100%;
}

.button .button-icon svg {
  transition: transform 0.4s ease-in-out;
  width: auto;
}

.button:hover .button-icon svg {
  transform: rotate(30deg);
}

/* button tertiary */

.button-tertiary-icon {
  transition: transform 0.4s ease-in-out;
}

.button-tertiary:hover .button-tertiary-icon {
  transform: translate(100%, -100%);
}

.button-tertiary-icon-hover {
  transition: transform 0.4s ease-in-out;
}

.button-tertiary .button-tertiary-icon-hover {
  transform: translate(-100%, 100%);
  opacity: 1;
}

.button-tertiary:hover .button-tertiary-icon-hover {
  transform: translate(0%, 0%);
  opacity: 1;
}

/* button icon arrow */
.button-arrow-icon-hover {
  transition:
    opacity 0.4s ease-in-out,
    transform 0.8s ease-in-out;
}

.button-arrow:hover .button-arrow-icon-hover,
.home_expertises_link:hover .button-arrow-icon-hover,
.home_actualites_cards:hover .button-arrow-icon-hover,
.actualites_cards:hover .button-arrow-icon-hover {
  opacity: 1;
  transform: translate(0%, 0px);
}

.button-arrow-icon {
  transition: transform 0.3s ease-in-out;
}

.button-arrow:hover .button-arrow-icon,
.home_expertises_link:hover .button-arrow-icon,
.home_actualites_cards:hover .button-arrow-icon,
.actualites_cards:hover .button-arrow-icon {
  transform: rotate(30deg);
}

.divider-line-hover {
  transition:
    width 0.8s ease-in-out,
    height 0.8s ease-in-out;
}

.button-arrow:hover .divider-line-hover,
.home_expertises_link:hover .divider-line-hover,
.actualites_cards:hover .divider-line-hover {
  width: 100%;
}

/* divider vertical */
.home_actualites_cards:hover .divider-line-hover {
  height: 100%;
}

/* button secondary - alternate */
[data-wf--cc---button-main--mode-button---variables='is-secondary-alternate']:hover .button-icon {
  background-color: var(--_brand---background--brand-contrast);
}
